html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primaryColor: #5E3BEE;
    --headingColor: #282938;
    --background: #F5FCFF;
    --pinkColor: #E62872;
    --bodyColor: #1C1E53;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: var(--headingColor);
    margin: 0vw;
    width: fit-content;
}

h1{
    font-size: 3.889vw;
    line-height: 4.687vw;
}

h2{
    font-size: 1.6vw;
    line-height: 2.334vw;
}

h3{
    font-size: 1.125vw;
    line-height: 1.6vw;
}

p{
    font-weight: 400;
    font-size: 1.1109375vw;
    line-height: 1.6vw;
    margin: 0vw;
    padding: 0vw;
    width:  auto;
    text-wrap: wrap;  
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 6.25vw;
    left: 0px;
    top: 0px;
    box-shadow: 0px 5.33333px 80px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-button{
    margin: 0;
    padding: 0;
    padding-right: 2.222395833vw;
    font-family: 'Roboto';
    font-size: 1.1109375vw;
    color: #000000;
    text-decoration: none;
    line-height: 1.6vw;
}
.nav-button:hover{
    color: var(--primaryColor)
}
.nav-button:active{
    color: var(--primaryColor)
}

#logo{
    height: 2.08vw;
    padding-left: 4.427vw;
}

.contact-btn{
    margin-right: 4.427vw;
    font-size: 1.1109375vw;
    line-height: 1.6vw;
    width: fit-content;

    border: 1.33px solid var(--primaryColor);
    border-radius: 0.277vw;
    padding: 0.966vw 1.5625vw;
    text-decoration: none;
    background-color: transparent;
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    font-weight: 400;
    
}

.contact-btn:hover{
    background-color: var(--primaryColor);
    color: #FFFFFF;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background);
    width: 100vw;
}

#intro-body{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: center;
    margin: 12.1875vw 0vw 12.1875vw 4.427083333vw;
}

#intro-pic{
    margin: 6.92vw 6.56vw 6.92vw 0vw;
    width: 47.760vw;
    height: auto;
}

h3#intro{
    margin-bottom: 1.09375vw;
    padding: 0;
}

p#intro{
    margin: 1.09375vw 0vw 2.778vw 0vw;
    padding: 0;
}

#product-design{
    color: var(--primaryColor);
}

.skills{
    margin: 7.81vw 4.427083333vw;
}

h3#skills{
    margin-bottom: 1.09375vw;
}

.skill-icon{
    height: auto;
    width: 2.777vw;
    padding: 0.5427vw;
    border-radius: 0.75vw;
    background-color: #FFFFFF;
    box-shadow: 0px 5.33333px 5px rgba(0, 0, 0, 0.1);
}

.skill-card{
    padding: 1.667vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    width: 18vw;
    height: 14.3225vw;
    border-radius: 0.5557vw;
    border-bottom: 4px solid var(--primaryColor);
}

.skills-row{
    margin-top: 5.5208vw;
    margin-bottom: 7.8125vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2.skill{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6.944vw;
}

#about-image{
    width: 42.4479vw;
    height: auto;
}

#about-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vw;
    width: 42.708vw;
}

#portfolio-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3.889vw 4.427083333vw 0vw 4.427083333vw;
}

#visit-dribbble{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: var(--pinkColor);
    padding: 1.1109375vw;
    border-radius: 0.5557vw;
    align-items: center;
    color: #FFFFFF;
}

#dribbble-logo{
    height: 1.6vw;
    width: 1.6vw;
    margin-right: 0.833vw;
}

.projects-row{
    margin: 5.5208vw 4.427083333vw 7.8125vw 4.427083333vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28.854vw;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 0.75vw;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
}

.project-image{
    width: 28.854vw;
    height: auto;
}

.dribble-project-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin: 0vw 0vw 1.6vw 1.6vw;
    padding-bottom: 0.5557vw;
    border-bottom: 2px solid var(--primaryColor);
}

h2.project-title{
    margin: 1.6vw 1.6vw 0vw 1.6vw;
}

p.project-desc{
    margin: 0.5557vw 1.6vw 1.6vw 1.6vw;
}

.arrow{
    width: 0.833vw;
    height: 0.833vw;
    margin-left: 0.833vw;
}

#testimonials{
    background-color: var(--background);
    height: fit-content;
}

.testimony-card{
    display: flex;
    flex-direction: column;
    width: 24vw;
    padding: 2.222vw;
    border: 0.06927vw solid #006B6A;
    border-radius: 0.41666vw;
}

#testimonial-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5.555729vw 4.427083333vw 0vw 4.427083333vw;
    padding-bottom: 7.81vw;
}

.rating{
    width: 8.0208vw;
    height: auto;
    margin-bottom: 2.222vw;
}

.customer{
    width: 3.889vw;
    height: auto;
    margin-right: 1.1109375vw;
}

.customer-card{
    display: flex;
    flex-direction: row;
    margin-top: 2.222vw;
    align-items: center;
}

#testimonials-title{
    margin-left: 4.427083333vw;
    padding-top: 7.81vw;
}


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.81vw;
}

#contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.81vw;
    margin-bottom: 3.33vw;
}

#contact-title{
    margin-top: 1.1109375vw;
    margin-bottom: 1.6vw;
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 53.33vw;
}

.name-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label{
    font-weight: 400;
    font-size: 1.1109375vw;
    line-height: 1.6vw;
    padding: 0vw;
    width:  auto;
    text-wrap: wrap;
}

.short-input{
    padding-left: 0.5vw;
    margin-top: 0.5557vw;
    margin-bottom: 1.6vw;
    width: 25vw;
    height: 3vw;
    border: 0.06927vw solid var(--primaryColor);
    border-radius: 0.41666vw;
}

.dropdown{
    padding-left: 0.5vw;
    border: 0.06927vw solid var(--primaryColor);
    border-radius: 0.41666vw;
    width: 100%;
    height: 3vw;
    margin-top: 0.5557vw;
    margin-bottom: 1.6vw;
    font-family: 'Roboto';
    font-size: 1.1109375vw;
}

.message{
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5557vw;
    border: 0.06927vw solid var(--primaryColor);
    border-radius: 0.41666vw;
    width: 98.625%;
    height: 12.5vw;
    font-family: 'Roboto';
    font-size: 1.1109375vw;
}

#terms-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6vw;
    margin-left: 0vw;
}

.submit-btn{
    margin-top: 1.6vw;
    width: 8.8541vw;
    height: 3.6458vw;
    align-self: center;

    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.1109375vw;
    line-height: 1.6vw;
    

    border: 1.33px solid var(--primaryColor);
    border-radius: 0.277vw;
    
    background-color: transparent;
    color: var(--primaryColor);
    font-weight: 400;
}

.submit-btn:hover{
    background-color: var(--primaryColor);
    color: #FFFFFF;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--background);
}

.bottom-navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 5.555729vw;
    margin-bottom: 5.555729vw;
}

.socials{
    margin-right: 4.427083333vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-logo{
    width: 1.6vw;
    height: auto;
    margin-left: 0.8vw;
}

.eop{
    padding-top: 2.29166vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91.1458vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-bottom: 2.29166vw;
    border-top: 0.06927vw solid #2829388C;
}

.tos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-nav-button{
    margin: 0;
    padding: 0;
    padding-left: 2.222395833vw;
    font-family: 'Roboto';
    font-size: 1.1109375vw;
    color: #000000;
    text-decoration: none;
    line-height: 1.6vw;
}
.bottom-nav-button:hover{
    color: var(--primaryColor)
}
.bottom-nav-button:active{
    color: var(--primaryColor)
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 4.8vw;
        line-height: 5.5vw;
    }
    
    h2{
        font-size: 3.5vw;
        line-height: 4.31vw;
    }
    
    h3{
        font-size: 2.5vw;
        line-height: 3.09vw;
    }
    p{
        font-size: 2.3vw;
        line-height: 3vw;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 15vw;
        box-shadow: 0px 5.33333px 80px rgba(0, 0, 0, 0.1);
        background: #FFFFFF;
    }
    
    #logo{
        height: 4.016vw;
        padding-left: 4.427vw;
    }

    a.nav-button{
        font-size: 2.2vw;
    }
    a.contact-btn{
        font-size: 2.2vw;
        line-height: 2.688vw;

        border-radius: 0.465vw;
        padding: 1.622vw 2.625vw;
    }

    .introduction{
        justify-content: space-between;
        align-items: center;
        padding: 10vw 0vw;
    }

    #intro-pic{
        width: 47.760vw;
        height: auto;
        margin: 0vw;
    }

    #intro-body {
        margin: 0vw;
        padding: 0vw;
        height: fit-content;
        margin-left: 3vw;
    }

    .skills{
        margin: 10vw 0vw;
    }

    .skills-row{
        margin: 0vw;
        padding: 1.5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .skills-row > div{
        flex: 42%;
    }

    .skill-card{
        padding: 1.8vw 2vw;
        margin: 2vw 1.5vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: var(--background);
        border-radius: 0.75vw;
        border-bottom: 0.6vw solid var(--primaryColor);
        box-shadow: 0vw 2vw 2vw 0vw rgba(0, 0, 0, 0.1);
    }

    .skill-icon{
        height: auto;
        width: 5vw;
        padding: 1vw;
        border-radius: 1vw;
        background-color: #FFFFFF;
        box-shadow: 0vw 1vw 1vw 0vw rgba(0, 0, 0, 0.1);
    }

    h2.skill{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    #skills-title{
        margin-left: 3vw;
    }
}
